.container {
    // if its less that that, it will take 100% width
    max-width: 120rem;
    // centers the container form left and right
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    // gives height to the container
    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    // grow and shrink are 0 and flex basis(width) is 18%
    flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;
    background-color: orangered;
    // set flex grow 1 (takes the remaining space)
    flex: 1;
}