@mixin respond($to) {
    @if $to ==desktop {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }

    @else if $to ==bp-largest {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }

    @else if $to ==bp-large {
        @media only screen and (max-width: 1100px) {
            @content;
        }
    }

    @else if $to ==bp-medium {
        @media only screen and (max-width: 900px) {
            @content;
        }
    }

    @else if $to ==bp-small {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }

    @else if $to ==bp-smallest {
        @media only screen and (max-width: 500px) {
            @content;
        }
    }

    @else {
        @error "Unknown respond target `#{$to}`. Use mobile | tablet | desktop.";
    }
}